<p id="notice"><%= notice %></p>
<table>
  <thead>
    <th>
      Messages
    </th>
  </thead>
  <% @chats.each do |chat| %>
    <% if current_developer %>
    <tr>
      <td>
        <%= link_to chat.employer.full_name, chat_messages_path(chat.employer_id) %>
      </td>
    </tr>
    <% elsif %>
      <tr>
        <td>
          <%= link_to chat.developer.full_name, chat_messages_path(chat.developer_id) %>
        </td>
      </tr>
    <%end%>
  <%end%>
</table>