<div class="logsign-container">
    <div class="left-info">
        <h1>Login</h1>
        <h2><%= link_to 'I am a developer', new_developer_session_path %></h2>
        <h2><%= link_to 'I am an employer', new_employer_session_path %></h2>
    </div>

    <div class="right-info">
        <h1>Sign up</h1>
        <h2><%= link_to 'I am a developer', new_developer_registration_path %></h2>
        <h2><%= link_to 'I am an employer', new_employer_registration_path %></h2>
    </div>
</div>