<div class="top-buttons">
    <h3><%= link_to '<i class="fas fa-arrow-left"></i>'.html_safe + ' Back to ' + @project.project_name, project_path(@project) %></h3>
</div>
<h1>New Review</h1>
<%= render 'form' %>


